.network-error-container {
    height: 85vh;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-container {
    border: 2px solid rgba(0, 0, 0, 0.24);
    border-radius: 5px;
    padding: 40px;
}

.network-icon {
    display: flex;
    justify-content: center;
}

.retry-button {
    display: flex;
    justify-content: center;
}

.retry-button button {
    background-color: rgba(0, 0, 0, 0.3);
    border: none;
}